.login-form.ant-form{
    padding-right: 80px!important;
    margin-top: 20px!important;
}
.signup-form.ant-form{
    padding-right: 80px!important;
    margin-top: 20px!important;
}

.login-form{
    font-family: $base-font;
}
.signup-form{
    font-family: $base-font;
}