.login-form.ant-form{
    padding-right: 80px!important;
    margin-top: 20px!important;
}
.signup-form.ant-form{
    padding-right: 80px!important;
    margin-top: 20px!important;
}

.signup-form{
    .ant-btn{
        position: absolute;
        bottom: 50px;
    }
}