.feed-container{
    // background-color: white;
    // border-radius: 8px;
    width: 50rem;
    position: absolute;
    top: 30%;
    left: 15%;

    .no-post{
        font-family: $base-font;
        font-size: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}