.image-editor-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.75;
  z-index: 2;
}

.image-editor-modal {
  position: fixed;
  height: 80vh;
  width: 90vw;
  margin: auto;
  top: 3%;
  // bottom: 8rem;
  left: 0;
  right: 0;
  z-index: 50;
}
